<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="de">
<head th:replace="/fragments/headTag :: headTag">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Report Cockpit Birt</title>

    <!-- Bootstrap -->
    <link href="../resources/bootstrap/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>

<body>

<div class="container-fluid">
    <div th:replace="/fragments/navbar :: defaultNavbar"></div>

        <div class="jumbotron">
            <h3><img src="../../images/birt-purple-logo.png" alt="BIRT Reporting"
                     th:src="@{/images/birt-purple-logo.png}" />&nbsp; &nbsp; &nbsp;
                Reports </h3>
        </div>

    <div class="references">
        <div class="report-references" id="report-references">
            <div class="list-group">
                <!--/*@thymesVar id="reportReferencesList" type="java.util.List"*/-->
                <!--/*@thymesVar id="report" type="de.interseroh.report.model.ReportReference"*/-->
                <th:block sec:authorize="isAuthenticated()" th:each="report : ${reportReferencesList}">
                    <a href="#param"
                       th:href="@{'/reports/'+${report.name}}"
                       th:text="${report.name}"
                    class="list-group-item">REPORT NAME N/A</a>
                </th:block>
            </div>
        </div>

    </div>
</div>


<footer class="container-fluid" th:replace="/fragments/footerTag :: footerTag">
    <span>Dummy</span>
</footer>

<div th:include="/fragments/bodyFooter :: bodyFooter" th:remove="tag">
    <!-- JQuery for Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</div>

</body>
</html>