<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/headTag :: headTag">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Error Page</title>

    <!-- Bootstrap -->
    <link href="../resources/bootstrap/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
    <!--/*@thymesVar id="errorCode" type="java.lang.String"*/-->
    <div th:replace="/fragments/navbar :: defaultNavbar"></div>


    <div class="col-sm-1">
        <img src="../../images/birt-purple-logo.png" class="img-thumbnail" alt="BIRT Reporting"
                 th:src="@{/images/birt-purple-logo.png}"/>&nbsp; &nbsp; &nbsp;
        </div>
    <div class="col-sm-8 col-sm-offset-1">
        <h5 class="text-danger">
            Ein Fehler ist aufgetreten:
        </h5>
        <h4 class="text-danger" th:text="${errorMessage}"></h4>
    </div>

</div>
<footer class="container-fluid" th:replace="/fragments/footerTag :: footerTag">
</footer>
</body>
</html>