<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Report Cockpit Birt</title>

    <link href="../resources/bootstrap/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>

<body>

<div class="container-fluid main">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-dialog" style="margin-bottom: 0">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">Parameter</h3>
                    </div>
                    <div class="panel-body">
                        <form class="" th:action="@{/form}"
                              th:object="${parameterForm}"
                              method="post">
                            <div class="control-group" style="padding-top:20px"
                                 th:each="param,rowStat : ${parameterForm.parameters}">
                                <label class="control-label"
                                       th:for="${param.name}"
                                       th:text="${param.displayLabel}">
                                    DisplayLabel
                                </label>
                                <span th:text="${param.defaultValue}">TEXT
                                </span>
                                <input class="input-block-level"
                                       th:field="*{parameters[__${rowStat.index}__].value}"
                                        th:type="*{parameters[__${rowStat.index}__].dataType}"
                                        th:value="*{parameters[__${rowStat.index}__].defaultValue}"
                                        />
                            </div>

                            <div class="control-group" style="padding-top:20px">
                                <div class="controls">
                                    <button type="submit"
                                            class="btn btn-primary">
                                        Ok
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- JQuery for Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</div>

</body>
</html>