<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="/fragments/headTag :: headTag">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Report Cockpit Birt</title>

    <!-- Bootstrap -->
    <link href="../resources/bootstrap/css/bootstrap.css" rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>

<body>

<div th:replace="/fragments/navbar :: defaultNavbar"></div>


<div class="container">
    <div class="jumbotron">
        Report Cockpit for BIRT
    </div>
</div>


<footer class="container-fluid" th:replace="/fragments/footerTag :: footerTag">
    <span>Dummy</span>
</footer>

<div th:include="/fragments/bodyFooter :: bodyFooter" th:remove="tag">
    <!-- JQuery for Bootstrap -->
    <script src="../resources/jquery/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="../resources/bootstrap/js/bootstrap.js"></script>
</div>
</body>
</html>