<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/headTag :: headTag">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Report Cockpit Birt</title>

    <!-- Bootstrap -->
    <link href="../resources/bootstrap/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>

<body onload="document.loginForm.username.focus();">

<div th:include="/fragments/bodyHeader :: bodyHeader" th:remove="tag"></div>
<div th:replace="/fragments/navbar :: defaultNavbar"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-md-4">
            <div th:if="${error}" class="alert alert-danger" role="alert"
                 th:text="${error}">ERROR
            </div>

            <div th:if="${msg}" class="alert alert-info" role="alert"
                 th:text="${msg}">Message
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="modal-dialog" style="margin-bottom: 0">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">Parameter</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal render-partial"
                              action="#" th:form="${parameterForm}"
                              th:object="${parameterForm}"
                              method="post">
                            <div class="control-group" style="padding-top:20px"
                                 th:each="parameter : *{parameters}"
                                 th:object="${parameter}">
                                <label class="control-label"
                                       th:for="*{name}"
                                       th:text="*{displayLabel}">
                                    DisplayLabel
                                </label>
                                <div class="controls">
                                    <input class="input-block-level"
                                           value="to_be_replaced"
                                           type="to_be_replaced"
                                           th:type="${parameter.dataType}"
                                           th:value="${parameter.defaultValue}"/>
                                </div>
                            </div>

                            <div class="control-group" style="padding-top:20px">
                                <div class="controls">
                                    <button type="submit"
                                            class="btn btn-primary">
                                        Ok
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/fragments/footerTag :: footerTag" class="container-fluid">
    <span>Dummy</span>
</footer>

<div th:include="/fragments/bodyFooter :: bodyFooter" th:remove="tag">
    <!-- JQuery for Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</div>

</body>
</html>