<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="/fragments/headTag :: headTag">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Report Cockpit Birt</title>

    <!-- Bootstrap -->
    <link href="../resources/bootstrap/css/bootstrap.css" rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>

<body>

<div th:include="/fragments/bodyHeader :: bodyHeader" th:remove="tag"></div>
<div th:replace="/fragments/navbar :: defaultNavbar"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-md-4">
            <div th:if="${error}" class="alert alert-danger" role="alert"
                 th:text="${error}">ERROR
            </div>

            <div th:if="${msg}" class="alert alert-info" role="alert"
                 th:text="${msg}">Message
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="modal-dialog" style="margin-bottom: 0">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">Parameter</h3>
                    </div>
                    <div class="panel-body">
                        <form id="parameters" class="form-horizontal render-partial"
                              th:action="@{'/reports/'+${reportName}+'/params'}"
                              th:object="${parameterForm}"
                              method="post"
                              novalidate="false">
                            <th:block th:each="group, groupStat : ${parameterForm.groups}">
                                <div th:id="${group.name}"
                                     th:attr="data-cascading-group=${group.cascading}">

                                    <legend th:if="${not group.invisible}"
                                            th:text="${group.displayLabel}"
                                            class="grouplegend">Group Legend
                                    </legend>

                                    <th:block th:each="scalar, scalarStat : ${group.parameters}">
                                        <div class="control-group"
                                             th:classappend="${#fields.hasErrors('params['+scalar.name+'].text')}? 'has-error'">
                                            <label class="control-label"
                                                   th:for="${scalar.name}"
                                                   th:text="${scalar.displayLabel}">
                                                DisplayLabel
                                            </label>

                                            <div class="controls">
                                                <th:block th:switch="${scalar.parameterType}">
                                                    <th:block th:case="'MULTISELECT'">
                                                        <select th:id="${scalar.name}"
                                                                th:field="*{params[__${scalar.name}__].text}"
                                                                th:size="${scalar.rowCount}"
                                                                multiple="multiple"
                                                                class="form-control"
                                                                data-toggle="tooltip" data-placement="bottom" rel="tooltip" th:title="${scalar.tooltip}">
                                                            <option th:each="option : ${scalar.options}"
                                                                    th:value="${{option}}"
                                                                    th:text="${option.displayName}">
                                                                DISPLAYNAME
                                                            </option>
                                                        </select>
                                                    </th:block>
                                                    <th:block th:case="'SINGLESELECT'">
                                                        <select th:id="${scalar.name}"
                                                                th:field="*{params[__${scalar.name}__].text}"
                                                                class="form-control"
                                                                data-toggle="tooltip" data-placement="bottom" rel="tooltip" th:title="${scalar.tooltip}">
                                                            <option value=""></option>
                                                            <option th:each="option : ${scalar.options}"
                                                                    th:value="${{option}}"
                                                                    th:text="${option.displayName}">
                                                                DISPLAYNAME
                                                            </option>
                                                        </select>
                                                    </th:block>
                                                    <th:block th:case="RADIOSELECT">
                                                        <div th:each="option : ${scalar.options}">
                                                            <label th:for="${#ids.next('parameters'+__${scalarStat.index}__+'.text')}"
                                                                   th:inline="text">
                                                                <input type="radio"
                                                                       th:field="*{params[__${scalar.name}__].text}"
                                                                       th:value="${{option}}"
                                                                />
                                                            </label>
                                                        </div>
                                                    </th:block>
                                                    <th:block th:case="*">
                                                        <input class="input-block-level"
                                                               value="to_be_replaced"
                                                               th:id="${scalar.name}"
                                                               th:field="*{params[__${scalar.name}__].text}"
                                                               th:type="${scalar.htmlFieldType}"
                                                               th:placeholder="${scalar.defaultText}"
                                                               data-toggle="tooltip" data-placement="bottom" rel="tooltip" th:title="${scalar.tooltip}"/>
                                                    </th:block>
                                                </th:block>
                                                <span class="help-block" th:if="${#fields.hasErrors('params['+scalar.name+'].text')}" th:errors="*{params[__${scalar.name}__].text}">Incorrect date</span>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                            <div class="control-group" style="padding-top:20px">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">
                                        OK
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/fragments/footerTag :: footerTag" class="container-fluid">
    <span>Dummy</span>
</footer>

<div th:include="/fragments/bodyFooter :: bodyFooter" th:remove="tag">
    <!-- JQuery for Bootstrap -->
    <script src="https//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>

<script>
    /*<![CDATA[*/

    var reloadChoicesOfCascadingGroup = function () {
        var cascadingGroup = $(this).closest("div[data-cascading-group='true']");
        var groupName = $(cascadingGroup).attr("id");
        var url = $(this).closest("form#parameters").attr("action") + "/cascade/" + groupName;

        var params = [];
        $(cascadingGroup).find("select").each(function () {
            var paramName = $(this).attr("name");
            var selected = $(this).find("option:selected");

            $(this).find("option:selected").each(function () {
                var paramValue = $(this).val();
                params.push({name: paramName, value: paramValue});
            });
        });

        url = url + '?' + $.param(params) + " div#" + groupName + " > *";

        $(cascadingGroup).load(url, function () {
            $("div#" + groupName).find("select").change(reloadChoicesOfCascadingGroup);
        });
    };

    $(document).ready(function () {
        $("div[data-cascading-group='true']").find("select").change(reloadChoicesOfCascadingGroup);
        $('input[rel="tooltip"]').tooltip();
        $('select[rel="tooltip"]').tooltip();
    });
    /*]]>*/
</script>

</body>
</html>
