<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerTag">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Report Cockpit Birt</title>

    <!-- Bootstrap -->
    <link href="../../resources/bootstrap/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

    <div th:fragment="bodyFooter">
        <!-- JQuery for Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
                th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script
                src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    </div>
</body>
</html>




