<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Report Cockpit Birt</title>

    <!-- Bootstrap -->
    <link href="../../resources/bootstrap/css/bootstrap.css"
          th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron">
        <span>Report Cockpit Birt :: HeaderTag Fragment</span>
    </div>
</div>

<footer class="container-fluid" th:fragment="footerTag">
    <div class="row">
        <div class="col-sm-12 pull-right">
            <small>
                <span>Build by <a
                        href="http://www.crowdcode.io">Crowdcode</a></span>
                <span th:text="${version}">Version</span>
            </small>
        </div>
    </div>
</footer>
</body>
</html>




