<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headTag">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="Report Cockpit for Birt"/>
    <meta name="author" content="Ingo Düppe from Crowdcode"/>

    <title>Report Cockpit BIRT</title>


    <!-- TODO make the favicon configurable -->
    <link rel="icon"
          href="http://www.interseroh.de/fileadmin/interseroh/system/templates/images/favicon.ico"
          type="image/x-icon"/>

    <!-- Bootstrap -->
    <link href="../../resources/bootstrap/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <!-- Bootstrap theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body>

<!-- Navigation bar -->
<nav xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
     class="navbar navbar-inverse navbar-fixed-top"
     role="navigation"
     th:fragment="defaultNavbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#report-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="#"
			   title="Interseroh Report"> <img
				style="max-width: 80px; margin-top: -7px;"
				src="../../images/birt-logo.png"
				th:src="@{${brandingLogo}}" />
			</a> 
			<a class="navbar-brand" href="#"
				th:text="${brandingText}">Branding
			</a>
        </div>
        <div class="collapse navbar-collapse" id="report-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#start" th:href="@{/index}">Start</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#param"
                       th:href="@{${reportName} + ${reportParams}}">
                        Parameter
                    </a>
                </li>
                                
                <li sec:authorize="isAuthenticated()" class="dropdown">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-expanded="false">Export<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li sec:authorize="isAuthenticated()"><a href="#print"
							th:href="@{${reportApiUrl} + '/pdf' + ${reportParams}}"
							target="_blank">PDF</a></li>
						<li sec:authorize="isAuthenticated()"><a href="#print"
							th:href="@{${reportApiUrl} + '/xlsx' + ${reportParams}}">Excel (xlsx)</a></li>
						<li sec:authorize="isAuthenticated()"><a href="#print"
							th:href="@{${reportApiUrl} + '/xls' + ${reportParams}}">Excel (xls)</a></li>
					</ul>
				</li>
            </ul>
            
            <ul class="nav navbar-nav pull-right">
                <li sec:authorize="isAuthenticated()">
                    <a href="#" th:href="@{/logout}">
                        Logged in as:
                        <span sec:authentication="name">Username</span> &raquo;
                        Logout
                    </a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="navbar-right">
                    <a href="#" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="jumbotron">
        <span>Report Cockpit BIRT :: Navbar</span>
    </div>
</div>

<!-- JQuery for Bootstrap -->
<script src="../resources/jquery/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
<!-- Bootstrap JavaScript -->
<script src="../resources/bootstrap/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script
        src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>




